{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} whoami{% endblock %}</h1>
<h2> Harsh Vardhan Solanki </h2>
<h5> Machine Learning Engineer and Technical Evangelist </h5>
<p> Welcome to my portfolio. From experimental passion projects to company projects during my stint at Amazon and Quantiphi, I have had the opportunity to create a variety of projects for this dynamic industry. As an aspiring data scientist, I like to delve into publicly available datasets, and apply techniques in machine learning and statistics to extract actionable insights. I am passionate about learning new technologies, and just as passionate about teaching them to others. My goal in setting up this portfolio/blog is to chronicle the things I learn, and provide a central resource for both myself and others. </p>
<p> I thrive on creative challenges and enjoy building strong relationships along the way. I define myself as an individual who constantly challenges the status quo. I strongly believe that humans learn through experiences and exposure. </p>
<p> I constantly try to learn new skills, chase excellence and disrupt. In my free time, I love to travel, visit new bars, read biographies, other novels  and sometimes, just Netflix and Chill. </p>
<p> Explore my work here, and contact me directly to learn more. </p>
{% endblock %}
